<div class="container card-box">
  <div class="card col-sm-6">
    <div class="card-body">
      <h3 class="text-center">RESET PASSWORD </h3>
      <p class="text-center" id="newUser"><a routerLink="/register">New User Register</a></p>
      <p>Enter your registered email address to reset your password</p>
      <form class="form-inline" (submit)="sendMail($event)">
        <h5>Email address:</h5>
        <div class="input-group col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
          </div>
          <input type="email" class="form-control" id="email">
        </div>

        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>
  </div>
</div>
