<div class="container card-box">
  <div class="card col-sm-6">
    <div class="card-body">
      <form class="form-inline" (submit)="updatePassword($event)">
        <h5 >Password:</h5>
        <div class="input-group col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
          </div>
          <input type="password" class="form-control" id="pwd">
        </div>

        <h5 for="cnfrmpwd">Confirm Password:</h5>
        <div class="input-group col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
          </div>
          <input type="password" class="form-control" id="cnfrmpwd">
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>
  </div>
</div>
