.card{
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3) ;
}
.card-box{
  margin-left: 25%;
  margin-top: 15px;
}
.form-inline{
  margin-top: 15%;
}
.input-group{
  margin-bottom: 15px;
}
.btn{
  margin-left: 25%;
  width:200px;
}
.text-center{
  text-decoration: underline;
}
#newUser{
  text-decoration: none;
}
